In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import pandas as pd

In [5]:
xls_file = pd.ExcelFile('loopdcx.xls') #needs both pandas and xlrd
xls_file   #Here it gives conversion confirmation
xls_file.sheet_names #Displays the sheet names of the excel file
dcx = xls_file.parse('Sheet 1')
dcx.columns = ['Price', 'TimeStamp'] #Changes column names for good
dcx

['Sheet 1']

         Price                   TimeStamp
0     7.724709  2018-12-17 21:52:55.740199
1     7.724709  2018-12-17 21:52:56.797751
2     7.724709  2018-12-17 21:52:57.751221
3     7.724709  2018-12-17 21:52:58.749511
4     7.680989  2018-12-17 21:53:00.755125
5     7.680989  2018-12-17 21:53:01.137458
6     7.680989  2018-12-17 21:53:01.838212
7     7.680989  2018-12-17 21:53:02.759893
8     7.680989  2018-12-17 21:53:03.748506
9     7.680989  2018-12-17 21:53:04.902155
10    7.680989  2018-12-17 21:53:05.800409
11    7.680989  2018-12-17 21:53:06.790116
12    7.680989  2018-12-17 21:53:07.742929
13    7.680989  2018-12-17 21:53:08.736658
14    7.680989  2018-12-17 21:53:09.734928
15    7.680989  2018-12-17 21:53:11.577290
16    7.680989  2018-12-17 21:53:11.758994
17    7.680989  2018-12-17 21:53:12.749544
18    7.680989  2018-12-17 21:53:13.756371
19    7.680989  2018-12-17 21:53:14.824858
20    7.680989  2018-12-17 21:53:15.747931
21    7.680989  2018-12-17 21:53:16.744176
22    7.680989  2018-12-17 21:53:17.776018
23    7.680989  2018-12-17 21:53:19.698063
24    7.680989  2018-12-17 21:53:19.761740
25    7.680989  2018-12-17 21:53:20.755433
26    7.680989  2018-12-17 21:53:21.767047
27    7.680989  2018-12-17 21:53:22.759307
28    7.680989  2018-12-17 21:53:23.789139
29    7.680989  2018-12-17 21:53:24.801225
...        ...                         ...
4376  7.673400  2018-12-17 23:05:54.709606
4377  7.673400  2018-12-17 23:05:55.708298
4378  7.673400  2018-12-17 23:05:56.702726
4379  7.673400  2018-12-17 23:05:57.760616
4380  7.673400  2018-12-17 23:05:58.702475
4381  7.673400  2018-12-17 23:05:59.709295
4382  7.673400  2018-12-17 23:06:00.695255
4383  7.673400  2018-12-17 23:06:01.696727
4384  7.673400  2018-12-17 23:06:02.736730
4385  7.680960  2018-12-17 23:06:04.644960
4386  7.680960  2018-12-17 23:06:04.721686
4387  7.680960  2018-12-17 23:06:05.691198
4388  7.680960  2018-12-17 23:06:06.704667
4389  7.680960  2018-12-17 23:06:07.708092
4390  7.680960  2018-12-17 23:06:08.780907
4391  7.680960  2018-12-17 23:06:09.694148
4392  7.680960  2018-12-17 23:06:10.701232
4393  7.680960  2018-12-17 23:06:11.709027
4394  7.680960  2018-12-17 23:06:14.758501
4395  7.678440  2018-12-17 23:06:15.336699
4396  7.678440  2018-12-17 23:06:15.748550
4397  7.678440  2018-12-17 23:06:16.258051
4398  7.678440  2018-12-17 23:06:16.730292
4399  7.678440  2018-12-17 23:06:17.751086
4400  7.678440  2018-12-17 23:06:18.728953
4401  7.678440  2018-12-17 23:06:19.708291
4402  7.678440  2018-12-17 23:06:20.707994
4403  7.678440  2018-12-17 23:06:21.704722
4404  7.678440  2018-12-17 23:06:22.710331
4405  7.678440  2018-12-17 23:06:25.713451

[4406 rows x 2 columns]

In [4]:
dcx[dcx['Price']> 7]  #better since it doesn't return NaN values

         Price                   TimeStamp
0     7.724709  2018-12-17 21:52:55.740199
1     7.724709  2018-12-17 21:52:56.797751
2     7.724709  2018-12-17 21:52:57.751221
3     7.724709  2018-12-17 21:52:58.749511
4     7.680989  2018-12-17 21:53:00.755125
5     7.680989  2018-12-17 21:53:01.137458
6     7.680989  2018-12-17 21:53:01.838212
7     7.680989  2018-12-17 21:53:02.759893
8     7.680989  2018-12-17 21:53:03.748506
9     7.680989  2018-12-17 21:53:04.902155
10    7.680989  2018-12-17 21:53:05.800409
11    7.680989  2018-12-17 21:53:06.790116
12    7.680989  2018-12-17 21:53:07.742929
13    7.680989  2018-12-17 21:53:08.736658
14    7.680989  2018-12-17 21:53:09.734928
15    7.680989  2018-12-17 21:53:11.577290
16    7.680989  2018-12-17 21:53:11.758994
17    7.680989  2018-12-17 21:53:12.749544
18    7.680989  2018-12-17 21:53:13.756371
19    7.680989  2018-12-17 21:53:14.824858
20    7.680989  2018-12-17 21:53:15.747931
21    7.680989  2018-12-17 21:53:16.744176
22    7.680989  2018-12-17 21:53:17.776018
23    7.680989  2018-12-17 21:53:19.698063
24    7.680989  2018-12-17 21:53:19.761740
25    7.680989  2018-12-17 21:53:20.755433
26    7.680989  2018-12-17 21:53:21.767047
27    7.680989  2018-12-17 21:53:22.759307
28    7.680989  2018-12-17 21:53:23.789139
29    7.680989  2018-12-17 21:53:24.801225
...        ...                         ...
4376  7.673400  2018-12-17 23:05:54.709606
4377  7.673400  2018-12-17 23:05:55.708298
4378  7.673400  2018-12-17 23:05:56.702726
4379  7.673400  2018-12-17 23:05:57.760616
4380  7.673400  2018-12-17 23:05:58.702475
4381  7.673400  2018-12-17 23:05:59.709295
4382  7.673400  2018-12-17 23:06:00.695255
4383  7.673400  2018-12-17 23:06:01.696727
4384  7.673400  2018-12-17 23:06:02.736730
4385  7.680960  2018-12-17 23:06:04.644960
4386  7.680960  2018-12-17 23:06:04.721686
4387  7.680960  2018-12-17 23:06:05.691198
4388  7.680960  2018-12-17 23:06:06.704667
4389  7.680960  2018-12-17 23:06:07.708092
4390  7.680960  2018-12-17 23:06:08.780907
4391  7.680960  2018-12-17 23:06:09.694148
4392  7.680960  2018-12-17 23:06:10.701232
4393  7.680960  2018-12-17 23:06:11.709027
4394  7.680960  2018-12-17 23:06:14.758501
4395  7.678440  2018-12-17 23:06:15.336699
4396  7.678440  2018-12-17 23:06:15.748550
4397  7.678440  2018-12-17 23:06:16.258051
4398  7.678440  2018-12-17 23:06:16.730292
4399  7.678440  2018-12-17 23:06:17.751086
4400  7.678440  2018-12-17 23:06:18.728953
4401  7.678440  2018-12-17 23:06:19.708291
4402  7.678440  2018-12-17 23:06:20.707994
4403  7.678440  2018-12-17 23:06:21.704722
4404  7.678440  2018-12-17 23:06:22.710331
4405  7.678440  2018-12-17 23:06:25.713451

[4406 rows x 2 columns]